/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 73%;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
}

li {
    list-style: none;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    background-color: #ED722E;
    height: 50px;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .container nav {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
}

header .container nav ul {
    display: flex;
   /* align-items: center; */
}


header .container .logo {
    width: 100px;
    height: 24px;
    display: flex;
    margin-top: 17px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

header .container .cart {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 200px;
}

header .container .cart ul {
    display: flex;
    align-items: center;
}

/* MAIN */

main .container img {
    max-width: 100%;
    width: 325px;
    padding: 9px 4px 0px;
}


main .container {
    margin-top: 34px;
    
}

.card {
    position: relative;
    display: inline-block;
    margin-bottom: 29px;
}

.white {
    height: 37px;
    width: 37px;
    background-color: white;
    position: absolute;
    top: 16px;
    right: 4px;
}

.red {
    height: 20px;
    width: 36px;
    background-color: #EA3324;
    position: absolute;
    left: 4px;
    bottom: 67px;
    color: white;
}

.green {
    height: 20px;
    width: 74px;
    background-color: #377E23;
    position: absolute;
    left: 43px;
    bottom: 67px;
    color: white;
}

.last {
    left: 4px;
}

.red, .green {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 16px;
}

.tag, .descrizione, .prezzo {
    display: flex;
    justify-content: flex-start;
}

.etichetta {
    padding: 0 4px;
}

.descrizione {
    font-weight: bold;
}

.prezzi {
    text-align: left;
}

.price {
    color: #EA3324;
    font-weight: 900;
}

.old-price {
    text-decoration: line-through;
}

/* FOOTER */

footer {
    height: 77px;
    background-color: #1A1A1B;
    color: white;
    font-weight: 900;
}

footer .container {
    display: flex;
    justify-content: space-between;
    
}