* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
}

li {
    list-style: none;
}

header {
    background-color: #ED722E;
    height: 70px;
}

.box {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    min-height: 1568px;
}