/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 73%;
    margin: 0 auto;
}

li {
    list-style: none;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    background-color: #ED722E;
    height: 50px;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .container nav {
    height: 50px;
    width: 200px;
    background-color: yellow;
}

header .container .logo {
    height: 50px;
    width: 200px;
    background-color: aqua;
    display: flex;
}

header .container .cart {
    position: static;
    height: 50px;
    width: 200px;
    background-color: blue;
}

/* MAIN */

main .container img {
    max-width: 100%;
    width: 325px;
    padding: 9px 4px 0px;
}


main .container {
    background-color: yellowgreen;
    margin-top: 34px;
    padding: 0 6px;
    
}

.card {
    position: relative;
    display: inline-block;
}


footer {
    height: 110px;
    background-color: #1A1A1B;
}

